.header {
    padding-top: 55px;

    &__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        cursor: pointer;
    }
}










