.title {
    font-weight: 900;
    color: $dark-color;
    text-transform: uppercase;

    &_fs24 { //h3
        font-size: 24px;
        line-height: 24px;
    }
    &_fs32 { //h2
        font-size: 32px;
        line-height: 32px;
    }
    &_fs56 { //h1
        font-size: 56px;
        line-height: 56px;
    }
}













