.wrapper {
    padding-top: 168px;

    &__block {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }
    &__title {
        padding-top: 48px;
    }
    &__text {
        padding-top: 24px;
        font-size: 16px;
        line-height: 26px;
    }
    &__img {
        width: 65px;
        height: 65px;
        img {
            width: 100%;
        }
    }
}